<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'JuJa/style.css'%}"/>
</head>
<body>
<h1 class="header"> Prisijungimo puslapis </h1>
<br/><br/>
<form method="POST" action="{% url 'JuJa:login_user' %}">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleUsername1" class="form-label">Prisijungimo vardas</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3"></div>
        <label for="exampleInputPassword1" class="form-label">Slaptažodis</label>
        <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Prisijungti</button>
</form>
<br/><br/>
</body>
<script>
    const animationDuration = 20000; // 20 seconds in milliseconds
    const storageKey = 'animationStartTime';

    function initializeAnimation() {
        let startTime = localStorage.getItem(storageKey);
        if (!startTime) {
            startTime = Date.now();
            localStorage.setItem(storageKey, startTime);
        }

        const elapsedTime = (Date.now() - startTime) % animationDuration;
        document.body.style.animation = `moveBackground 20s linear infinite ${-elapsedTime / 1000}s`;
    }

    window.addEventListener('load', initializeAnimation);
</script>
</html>