<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'JuJa/style.css'%}"/>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
    <input type="text" name="document_number" placeholder="PVM s.f. nr">
    <input type="text" name="company_name" placeholder="Įmonės pavadinimas"> </br></br>
    <input type="text" name="client_address" placeholder="Kliento adresas">
    <input type="text" name="company_code" placeholder="Įmonės kodas"> </br></br>
    <input type="text" name="vat_code" placeholder="Kliento PVM mokėtojo kodas">
    <input type="text" name="buyer_name" placeholder="Įmonės pavadinimas"> </br></br>
    <input type="text" name="buyer_code" placeholder="Įmonės kodas">
    <input type="text" name="buyer_pvm_code" placeholder="PVM mokėtojo kodas."> </br></br>
    <input type="text" name="seller_address" placeholder="Adresas">
    <input type="text" name="seller_phone_number" placeholder="Telefonas"> </br></br>
    <input type="text" name="bank_name" placeholder="Banko vardas">
    <input type="text" name="bank_account" placeholder="Banko sąskaita (IBAN)"> </br></br>
    <input type="text" name="swift" placeholder="SWIFT">
    <input type="text" name="alternative_payment" placeholder="Alternatyvus mokėjimo būdas"> </br></br>
    <input type="text" name="alternative_account" placeholder="Alternatyvi mokėjimo sąskaita">
    <input type="text" name="member1" placeholder="Komisijos narys 1"> </br></br>
    <input type="text" name="member2" placeholder="Komisijos narys 2">
    <input type="text" name="member3" placeholder="Komisijos narys 3"> </br></br> 
    <input type="text" name="member4" placeholder="Komisijos narys 4">
    <input type="text" name="responsible_member" placeholder="Atsakingas darbuotojas"> </br></br>
    <input type="date" name="invoice_date" value="2024-05-19">
    <input type="date" name="payment_date" value="2024-05-19"> </br></br>
    <button type="submit" class="btn btn-primary">Išsaugoti duomenis</button>

    </form>
</body>
<script>
    const animationDuration = 20000; // 20 seconds in milliseconds
    const storageKey = 'animationStartTime';

    function initializeAnimation() {
        let startTime = localStorage.getItem(storageKey);
        if (!startTime) {
            startTime = Date.now();
            localStorage.setItem(storageKey, startTime);
        }

        const elapsedTime = (Date.now() - startTime) % animationDuration;
        document.body.style.animation = `moveBackground 20s linear infinite ${-elapsedTime / 1000}s`;
    }

    window.addEventListener('load', initializeAnimation);
</script>
</html>