<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'JuJa/style.css'%}"/>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <table id="dynamic-table">
        <tr>
            <th>Prekė</th>
            <th>Kaina</th>
            <th>Kiekis</th>
            <th>Paskirtis arba vieta</th>
        </tr>
    </table>
    <br>
    <button class="btn btn-primary" style="display: block; margin: 0 auto; padding: 10px 20px; font-size: 16px; border: 1px solid #333; background-color: #333; background: rgba(51, 51, 51, 0.8); color: #fff; border-radius: 5px; cursor: pointer;" type="button" onclick="addRow()">Pridėti prekę</button>
    <input type="text" name="table_name" placeholder="Saskaitos faktūros pavadinimas" required>
    <button type="submit" class="btn btn-primary">Sukurti saskaitą faktūrą</button>
    <script>
        function addRow() {
            var table = document.getElementById("dynamic-table");
            var rowCount = table.rows.length;
            var newRow = table.insertRow(rowCount);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            cell1.innerHTML = "<input type='text' name='product_" + rowCount + "' />";
            cell2.innerHTML = "<input type='text' name='price_" + rowCount + "' />";
            cell3.innerHTML = "<input type='text' name='quantity_" + rowCount + "' />";
            cell4.innerHTML = "<input type='text' name='purpose_" + rowCount + "' />";
        }
    </script>
    </form>
</body>
</html>