
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='https://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<body style='font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;'>
<table align='center' border='0' cellpadding='0' cellspacing='0' style='height:842px; width:595px;font-size:12px;'>
  <tr>
    <td valign='top'><table width='100%' cellspacing='0' cellpadding='0'>
        <tr>
          <td width='50%'>&nbsp;</td>
        </tr>
      </table><br/><br/>
      <table width='100%' cellspacing='0' cellpadding='0'>
      <tr>
        <td valign='top' width='35%' style='font-size:12px;'> <strong ></strong><br /> 
<br/><br /><br />

</td>
        <td valign='top' width='35%'>
</td>
        <td valign='top' width='30%' style='font-size:12px;'>Patvirtinta [ĮSTAIGOS] direktoriaus<br/>

		[DATA1] įsakymu Nr. [YYY] <br/>
<br/>
        <strong>TVIRTINU:</strong><br/>
        [ĮSTAIGOS] direktorius <br/>
        [MMMM] m. [MEN] mėn. [DD] d.<br/>
		
		</td>

      </tr>
    </table>
    <table width='100%' height='100' cellspacing='0' cellpadding='0'>
      <tr>
        <td><div align='center' style='font-size: 14px;font-weight: bold;'>[ĮSTAIGA] </div></td>
      </tr>
      <tr>
        <td><div align='center' style='font-size: 14px;font-weight: bold;'>MATERIALINIŲ VERTYBIŲ NURAŠYMO AKTAS </div></td>
      </tr>
    </table>
<table width='100%' cellspacing='0' cellpadding='2' border='1' bordercolor='#CCCCCC'>
      <tr>
        <td width='35%' bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Eil. nr. </strong></td>
        <td width='35%' bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Materialinės vertybės pavadinimas </strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Kiekis</strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Kaina</strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Suma su PVM EUR</strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Panaudojimo tikslas ir vieta</strong></td>
        </tr>
      <tr style="display:none;"><td colspan="*"><tr>

<td valign='top' style='font-size:12px;'>[NR]</td>
<td valign='top' style='font-size:12px;'>[PAVADINIMAS] </td>
<td valign='top' style='font-size:12px;'>[KIEKIS] </td>
<td valign='top' style='font-size:12px;'> </td>
<td valign='top' style='font-size:12px;'>[SUMA] </td>
<td valign='top' style='font-size:12px;'>[VIETA] </td>

</tr><tr>
<td valign='top' style='font-size:12px;'>mano produktas</td>
<td valign='top' style='font-size:12px;'>6 </td>
<td valign='top' style='font-size:12px;'>200,00 </td>
<td valign='top' style='font-size:12px;'>1 200,00 </td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>mano paslauga</td>
<td valign='top' style='font-size:12px;'>1 </td>
<td valign='top' style='font-size:12px;'>100,00 </td>
<td valign='top' style='font-size:12px;'>100,00 </td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>Iš viso:</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>[SUM]</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr></td></tr>
    </table>
    <div align='left' style='font-size: 12px;'>Pagal pirkimo dokumentus: </div>
    <div align='left' style='font-size: 12px;'>[PARDAVĖJAS] PVM s.f. [SERIJA] Nr. [NUMERIS], [DATA] </div>
    <div align='left' style='font-size: 12px;'>(pvz. : UAB "Kėdė" PVM s.f. SS Nr. 03230109, 2016 11 10; <strong> yra keletas pirkimo dokumentų</strong>) <br/>
        <br/>
<table align="center" cellspacing='15'>
    <tr>
        <td>Komisijos pirmininkas</td>
        <td>___________________</td>
        <td>[KOMISIJOS NARYS 1]</td>
    </tr>
    <tr>
        <td>Nariai</td>
        <td>___________________</td>
        <td>[KOMISIJOS NARYS 2]</td>
    </tr>
    <tr>
        <td></td>
        <td>___________________</td>
        <td>[KOMISIJOS NARYS 3]</td>
    </tr>
    <tr>
        <td></td>
        <td>___________________</td>
        <td>[KOMISIJOS NARYS 4]</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mat. atsakingas</td>
        <td></td>
        <td>[ATSAKINGAS DARBUOTOJAS]</td>
</table>
</body>
</html>
